---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import About from "../components/About.astro";
---

<Layout title="About Us | Bali Land">
  <main class="my-10">
    <Container>
      <About />
    </Container>
  </main>
</Layout>
