---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Form from "../components/Form.astro";
---

<Layout title="About Us | Bali Land">
  <main class="my-10">
    <Container>
      <Form />
    </Container>
  </main>
</Layout>
