---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Destination from "../components/Destination.astro";
---

<Layout title="Discover | Bali Land">
  <main class="my-10">
    <Container><Destination /></Container>
  </main>
</Layout>
