---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Traveller from "../components/Traveller.astro";
import Discover from "../components/Discover.astro";
---

<Layout title="Bali Land">
  <main>
    <Container>
      <Traveller />
      <Discover />
    </Container>
  </main>
</Layout>
