---
import { titleToSlug } from "../libs";
export interface Props {
  title: string;
  imgUrl: string;
}

const { imgUrl, title } = Astro.props;
---

<div class="relative">
  <img class="aspect-video rounded-md" src={imgUrl} alt={title} />
  <a
    href={"/posts/" + titleToSlug(title)}
    class="absolute w-4/6 rounded-md p-3 block bottom-0 backdrop-blur-sm bg-white/70"
  >
    <h1 class="text-primary font-bold">{title}</h1>
    <p class="text-textGray">Bali, Indonesia</p>
  </a>
</div>
