---
import { destinations } from "../data";
import Card from "./Card.astro";

const topDestination = destinations.filter((destination) => destination.top);
---

<section id="discover" class="my-10 space-y-10">
  <div class="text-center">
    <h2 class="text-primary font-semibold text-xl">Top Destination</h2>
    <h1 class="text-textGray font-bold text-2xl">Discover your love</h1>
  </div>
  <div class="grid grid-cols-3 gap-5">
    {
      topDestination.map((destination) => {
        return <Card title={destination.title} imgUrl={destination.imageUrl} />;
      })
    }
  </div>
  <div class="text-center">
    <!-- <a
      class="bg-secondary text-lg font-semibold text-white rounded-lg py-3 px-10"
      href="/discover">More Places</a
    > -->
    <a class="group relative" href="/discover">
      <svg
        class="w-10 inline duration-100 hover:rotate-45"
        viewBox="0 0 1024 1024"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M512 0C229.232 0 0 229.232 0 512C0 794.784 229.232 1024 512 1024C794.784 1024 1024 794.784 1024 512C1024 229.232 794.784 0 512 0ZM512 961.008C264.976 961.008 64 759.024 64 511.998C64 264.974 264.976 63.998 512 63.998C759.024 63.998 960 264.975 960 511.998C960 759.021 759.024 961.008 512 961.008ZM736 480H544V288C544 270.336 529.664 256 512 256C494.336 256 480 270.336 480 288V480H288C270.336 480 256 494.336 256 512C256 529.664 270.336 544 288 544H480V736C480 753.664 494.336 768 512 768C529.664 768 544 753.664 544 736V544H736C753.664 544 768 529.664 768 512C768 494.336 753.664 480 736 480Z"
          fill="#295943"></path>
      </svg>
      <p
        class="group-hover:block text-center absolute -top-14 right-[50%] translate-x-[50%] rounded-md hidden text-white py-2 px-4 bg-primary font-semibold"
      >
        More
      </p>
    </a>
  </div>
</section>
