<section class="flex gap-5 text-textGray">
  <div class="w-1/2">
    <h2 class="font-semibold text-xl">Get in touch</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus
      dolor purus non enim praesent elementum facilisis leo, vel fringilla est
      ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis
      scelerisque fermentum dui faucibus in ornare quam viverra
    </p>

    <form class="my-5">
      <div class="mb-6">
        <label for="name" class="block">Name:</label>
        <input
          type="text"
          id="name"
          class="shadow-sm border border-gray-300 text-sm rounded-lg block w-full p-2.5"
          placeholder="Input your name"
          required
        />
      </div>
      <div class="mb-6">
        <label for="email" class="block">Email:</label>
        <input
          type="email"
          id="email"
          class="shadow-sm border border-gray-300 text-sm rounded-lg block w-full p-2.5"
          placeholder="Email"
          required
        />
      </div>
      <div class="mb-6">
        <label for="Message" class="block">Message:</label>
        <textarea
          id="message"
          rows="4"
          class="block p-2.5 w-full text-sm rounded-lg border border-gray-300"
          placeholder="Leave a comment..."></textarea>
      </div>
      <button
        type="submit"
        class="text-white rounded-lg bg-secondary px-5 py-2.5 text-center"
        >Send</button
      >
    </form>
  </div>
  <div class="w-1/2">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126215.44653124487!2d115.16129045283296!3d-8.669406283965367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd240f5b0baad2f%3A0xf67150ab4e009a2c!2sMonumen%20Bajra%20Sandhi!5e0!3m2!1sid!2sid!4v1685817577874!5m2!1sid!2sid"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
