---
import Container from "./Container.astro";
---

<nav class="py-4 sticky z-10 top-0 bg-white">
  <Container>
    <div class="flex justify-between items-center">
      <div>
        <a class="font-bold text-2xl text-primary" href="/">BaliLand</a>
      </div>
      <div class="space-x-2 text-textGray">
        <a href="/">Home</a>
        <a href="/discover">Discover</a>
        <a href="/about-us">About Us</a>
        <a href="/contact">Contact</a>
      </div>
      <div class="flex items-center space-x-2">
        <svg
          width="18"
          height="19"
          viewBox="0 0 18 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.94373 17.9375C13.6125 17.9375 17.3812 14.1688 17.3812 9.5H0.506226C0.506226 14.1688 4.27498 17.9375 8.94373 17.9375Z"
            fill="#F9F9F9"></path>
          <path
            d="M8.94373 1.0625C4.27498 1.0625 0.506226 4.83125 0.506226 9.5H17.3812C17.3812 4.83125 13.6125 1.0625 8.94373 1.0625Z"
            fill="#ED4C5C"></path>
        </svg>
        <select class="" name="languages">
          <option value="ID">ID</option>
          <option value="US">US</option>
        </select>
      </div>
    </div>
  </Container>
</nav>
